.App {
  background-color: white;
}

.Auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 80vh;
}

.Auth-form {
  width: 420px;
  box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  /* background-color: #e1f1f3; */
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 50px;
}

.Auth-form-content {
  padding-left: 12%;
  padding-right: 12%;
}

.Auth-form-title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  padding-left: 0px;
  padding-top: 1px;
  margin-right: 20px;
  margin-left: 20px;
}

.btn-circle.btn-xl:hover {
  /*opacity: 0.3;*/
  background: palegreen;
  transform: scale(1.5);
  transition-duration: 0.5s;
  /* transform: scale(0.6); */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.inner-container {
  display: flex;
  flex-direction: row;
  width: 60%;
  padding-bottom: 70px;

  justify-content: space-evenly;
  align-items: center;
}

.link-danger {
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.link-primary {
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.forpassword {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-center {
  margin-top: 20px;
}

@media only screen and (max-width: 800px) {
  div {
    flex-direction: column;
  }
  .doctorimg {
    display: none !important;
    margin-top: 20px;  
    
  }
}
