
.mb-4{
      margin-left: 100px;
}

.head{
      padding-top: '40px';
      text-align: 'center';
}
.cal{
     
      margin-top: "100px";
}
/* .bookappoint{
      background-image: url(../../images/Bookappointment.jpg);
      background-size:100%;
      background-position: fixed;
      background-repeat: no-repeat;
} */
.red-text{
      color: green;
}

@media only screen and (max-width: 800px) {
      div {
        flex-direction: column;
      }
      .bookappoint {
        display: none !important;
        margin-top: 20px;  
        
      }
    }