.home{
    border: 2px solid;
}

h2{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.firstpara{
    text-align: center;
    
}

#nd-box {
    float:left;
    width:180px;
    height:160px;
    margin-left:20px;
}

#rd-box {
    float:right;
    width:180px;
    height:160px;
}

.trail{
    flex-direction: column;
  margin-top: 3em;
}

