#signup{
    width: 460px;
    display: flex;
    justify-content: center;
}
#select{
    height: 100%;
    width: 500px;
}

/* .signupimg{
    background-image: url(../images/SignUp.jpg);
    background-size:100%;
    background-position: fixed;
    background-repeat: no-repeat;
} */
